<div class="col-sm-8 col-sm-offset-2">



  <div class="panel" ng-class="task.done ? 'panel-success': 'panel-default'">
    <div class="panel-heading">
      <a href="#/" class="unstyled-link">
        <div class="panel-title">
          <i class="glyphicon glyphicon-menu-left"></i> <strong>{{task.title}}</strong>
        </div>
      </a>

    </div>
    <div class="panel-body">
      <div btf-markdown="task.description"> </div>
    </div>
    <div class="panel-footer">
      <a class="unstyled-link" ng-click="delete()" href="">
        <i class="glyphicon glyphicon-trash text-danger"></i>
      </a>
      <a class="unstyled-link" ng-click="complete()" href="">
        <i ng-if="!task.done" class="glyphicon glyphicon-ok text-success pull-right"></i>
      </a>
    </div>
  </div>




</div>