<div class="col-sm-8 col-sm-offset-2">
  <h1>Register</h1>
  <p>
    Already an account ? <a href="#/login">Login here</a>.
  </p>
  <form class="form">
    <div class="form-group">
      <div class="input-group">

        <span class="input-group-addon">
          <small>
            <i class="glyphicon glyphicon-user"></i>
          </small>
          </span>
        <input type="text" class="form-control" name="name" id="name" ng-model="userData.name" placeholder="username">
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">
          <small>
            <i class="glyphicon glyphicon-lock"></i>
          </span>
        <input type="password" class="form-control" name="password" id="password" ng-model="userData.password" placeholder="password">
      </div>
    </div>
    <button type="button" class="btn btn-primary" ng-click="register()"><i class="glyphicon glyphicon-send"></i> Register</button>
</div>